<router-outlet></router-outlet>
<app-menu-lateral [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" />
<app-main [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()" [screenWidth]="screenWidth()" />

<div class="page-content" [ngClass]="sizeClass()">
  <div class="grid text-center">
    <p class="h1">Crear requerimiento</p>
  </div>

  <div class="d-flex mb-3">
    <div class="ms-auto p-2">
      <button type="button" class="btn btn-outline-primary" (click)="openModal(modalContent)">Crear Requerimiento</button>
    </div>
  </div>

  <!-- Contenido del modal -->
  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Nuevo Requerimiento</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      Contenido del modal...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </ng-template>



  <div class="content">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero Requerimiento</th>
          <th scope="col">Nombre Requerimiento</th>
          <th scope="col">Estado</th>
          <th scope="col">Modificado Por</th>
          <th scope="col">Fecha Creación</th>
          <th scope="col">Fecha Finalizado</th>
          <th scope="col">Creado Por</th>
        </tr>
      </thead>
      <tbody>
        @for (country of countries; track country.nameReq) {
        <tr>
          <th scope="row">{{ country.id }}</th>
          <td> {{ country.nameReq }}</td>
          <td>{{ country.state}}</td>
          <td>{{ country.modified}}</td>
          <td>{{ country.creationDate | date }}</td>
          <td>{{ country.dateCompleted | date }}</td>
          <td>{{ country.created }}</td>
        </tr>
        }
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
      </ngb-pagination>

      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="6">6</option>
      </select>
    </div>
  </div>
</div>